     <platform name="android">
              <icon src="icons/icon-6.png" density="ldpi" />
              <icon src="icons/icon-5.png" density="mdpi" />
              <icon src="icons/icon-4.png" density="hdpi" />
              <icon src="icons/icon-3.png" density="xhdpi" />
              <icon src="icons/icon-2.png" density="xxhdpi" />
              <icon src="icons/icon.png" density="xxxhdpi" />
     </platform>